

#map {
  width: 100%;
  height: 100%;
}

//.leaflet-routing-alt {
//  visibility: hidden !important;
//}

.leaflet-routing-container {
  visibility: hidden !important;
}

//.leaflet-control{
//  visibility: hidden !important;
//}
