<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="invitation-home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="invitation-calendar">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="invitation-map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
