ion-content {
  --background: #f3f3f3;

  ion-card {
    margin-bottom: 30px;
  }

  ion-row {
    padding: 10px;
  }

  ion-icon[name="star"] {
    margin: 3px ;
    font-size: 24px;
  }

  .checkmark_icon {
    position : absolute;
    right: 0 ;
    color: green;
    font-size: 30px;
  }

  .close_icon {
    position : absolute;
    right: 0 ;
    color: #be0000;
    font-size: 30px;
  }

}

