<div class="user-container">

  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div class="scale-in-center">
      <p class="title">
        <span class="material-icons title-icon">group</span>
        Groups management
      </p>
    </div>

    <div >
      <button class="option-btn ml-2 scale-in-center" (click)="openGroupAddDialog()"
              matTooltip="Add Group" [matTooltipPosition]="'above'"  mat-ripple>
        <i class="material-icons icon-blue" >
          add
        </i>
      </button>
    </div>
  </div>

  <div class="row scale-in-center" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name" >
        <mat-header-cell *matHeaderCellDef >Groupe Name</mat-header-cell>
        <mat-cell *matCellDef="let group" >
          <p class="cell-text"  > {{group.name}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef >Groupe Description</mat-header-cell>
        <mat-cell *matCellDef="let group" >
          <p class="cell-text" > {{group.description}} </p>
        </mat-cell>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let group" >
          <div class="mat-cell cell-text">
            <button class="small-btn" (click)="openGroupUpdateDialog(group)" matTooltip=""
                    [matTooltipPosition]="'above'" mat-ripple>
              <i class="material-icons" >
                edit
              </i>
            </button>
            <button class="small-btn" (click)="openGroupDeleteDialog(group.group_id)" matTooltip=""
                    [matTooltipPosition]="'above'"  mat-ripple>
              <i class="material-icons" >
                delete
              </i>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row style="text-align: center" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="contact" *matRowDef="let user; columns: displayedColumns;" ></mat-row>
    </table>
  </div>

<!--  <div *ngIf="!resolve()" class="row justify-content-center align-items-center scale-in-center">-->
<!--    <img class="col-10 col-sm-6 col-md-4 col-lg-3 img-fluid mt-5"  src="../../assets/img/noconnection.png" />-->
<!--    <p class="col-12 text-center server-error mt-3">Oops can't reach the Server</p>-->
<!--  </div>-->

</div>
