  <ion-split-pane  contentId="main">
    <ion-menu side="start" menuId="custom" contentId="main"  type="push">
      <ion-content>
        <img class="menu-img" src="../../assets/image/logo.png" alt="logo" >
        <ion-list lines="none">
          <ion-list-header>
            {{'menu.main-menu' | translate}}
          </ion-list-header>

          <ion-menu-toggle autoHide="false" >
            <ion-item routerLink="/home/profile"   routerLinkActive="selected"  detail="false">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>
                {{'menu.profile' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" >
            <ion-item routerLink="/home/events"   routerLinkActive="selected"  detail="false">
              <ion-icon slot="start" name="calendar-outline"></ion-icon>
              <ion-label>
                {{'menu.events' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" >
            <ion-item routerLink="/home/invitations"   routerLinkActive="selected" detail="false">
              <ion-icon slot="start" name="send-outline"></ion-icon>
              <ion-label>
                {{'menu.invitations' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="support"  detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list lines="none">

          <ion-menu-toggle autoHide="false">
            <ion-item (click)="logout()" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>
                {{'menu.logout' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>




