:host {

  .content-container {
    margin: 28px;

    .row {
      margin: 0;
      padding: 0;
    }


    form {
      padding: 30px;
    }

    .day-list-item {
      border: 2px solid rgba(17, 45, 78, 0.37);
      border-radius: 4px;
      margin: 15px 15px 15px 15px;
      padding: 5px 25px;
      text-align: center;
      display: inline-block;
      background-color: rgba(152, 179, 211, 0.13);
      cursor: pointer;
      p {
        color: #112d4e;
        padding: 5px;
        margin: 0;
      }
      transition: 0.4s;
    }

    .selected-day {
      border: 2px solid rgba(17, 45, 78, 0.89);
      background-color: rgba(70, 127, 194, 0.29);
    }

  }

  .session-details {
    border-bottom: 1px solid rgba(73, 73, 73, 0.27);
  }

  .session-title {
    font-size: 120%;
    color: #112d4e;
    font-weight: bold;
  }

  .session-time {
    font-weight: normal;
    color: #525252;
    margin-left: 25px;
    font-size: 15px;
  }

  .session-description {
    color: #525252;
  }


  .subsession-details {
    border-bottom: 1px solid rgba(73, 73, 73, 0.27);
    margin-left : 100px !important;
    padding-top: 15px !important;
  }
}


