.success-toast {
  --background : var(--ion-color-success-shade) ;
  text-align: center ;
}

.danger-toast {
  --background : var(--ion-color-danger-shade ) ;
  text-align: center ;
}

.dark-toast {
  text-align: center ;
}
