:host {
  .dialog-container {
    height: 100%;
  }

  .dialog-title {
    margin: 0;
    padding: 15px;
    font-size: 120%;
    font-weight: 400;
    background-color: #112d4e;
    color:#f9f7f7 ;
    text-align: center;
    text-transform: uppercase;
  }

  mat-form-field {
    width: 100%;
  }

  .submit-btn {
    padding: 10px;
    width: 100%;
    background-color: #3f72af;
    color: #f9f7f7;
    border: none;
    outline : none;
    transition: 0.4s;
  }

  .submit-btn:hover {
    background-color: #112d4e;
  }

  .btn {
    margin: 0 0 0 10px !important;
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
    background-color: #dbe2ef;
    color: #112d4e;
    border: none;
    transition: 0.4s;
    outline: none !important;

    i {
      transition: 0.4s;
    }
  }

  .btn:hover {
    background-color: #3f72af;

    i {
      color: #f9f7f7;
    }
  }

}
